body {
  background-color: #F7FAFC;
}
.item{
  background-color: #FFF;
}

.mail{
  font-size: 13px;
  opacity: 0.7;
}

.inactive {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}